navbar{
    display:flex;
    align-self:center;
    margin:auto;
}
nav{
    flex:1;
    text-align:center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
 }
  nav ul li{
     display: inline-block;
     margin-right: 20px;}
     a{
         text-decoration: none;
         color: #555;
     }
     p{
         color: #555;
     }
     button{
        color: white;
        background-color:black;  
    padding: 20px;   
        
        
     }
     #arrow{
        width: 25px;
        color: red;
    }
     #arrow2{
        width: 20px;
     }
     #button{
        color: antiquewhite;
        background-color:darkblue;
    }
    #Icons{
        display:flex;
    }
    
    #Img{
        width: 500px;
        height: 500px;
    }
    #lens{
        width: 25px;
        height: 25px;
    }
    #wallet{
        height: 30px;
        width: 30px;
    }
    #back{
        height: 20px;
        width: 20px;
    }
    #next{
        height: 20px;
        width:20px
    }
    #circle {
        height: 20px;
    }
    #first{
        height: 20px;
    }
    #second{
        height: 20px;
    }
    #third{
        height: 20px;
    }
    .container{
        border: solid 3px;
        display:flex;
        margin: auto;

    }
    .art{

background-color: wheat;
    }
    .body{
        background-color: papayawhip;
    }
    .content{
        border: solid 5px;
        overflow: visible;
        
    }
    
    
    
    
    
    
    
    